.App {
   max-width: 750px;
   margin: 15px auto;
}

.settings {
   display: flex;
   justify-content: space-between;
   margin: 15px 0;
   background: white;
   padding: 5px;
   border-radius: 10px;
   box-shadow: 0 0 10px #bdbdbd;
}

.page {
   width: 25px;
   height: 25px;
   cursor: pointer;
   align-items: center;
   text-align: center;
}

.page__current {
   width: 25px;
   height: 25px;
   cursor: pointer;
   align-items: center;
   text-align: center;
   border-radius: 3px;
   color: #fff;
   background: #bdbdbd;
}